.text-heavy {
    color: $textcolor-heavy;
}
.text-red {
    color: $textcolor-red;
}
.text-white {
    color: $textcolor-white;
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.flex-nowrap {
    flex-wrap: nowrap;
}
.flex-column {
    flex-direction: column;
}
.flex-column-reverse {
    flex-direction: column-reverse;
}
.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-start {
    justify-content: flex-start;
}
.justify-content-end {
    justify-content: flex-end;
}
.justify-content-betweem {
    justify-content: space-between;
}
.justify-content-around {
    justify-content: space-around;
}
.align-items-center {
    align-items: center;
}
.align-items-start {
    align-items: flex-start;
}
.align-items-end {
    align-items: flex-end;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
@media (max-width: 768px) {
    .flex-md-column {
        flex-direction: column;
    }
    .flex-md-column-reverse {
        flex-direction: column-reverse;
    }
    .flex-md-row {
        flex-direction: row;
    }
    .flex-md-row-reverse {
        flex-direction: row-reverse;
    }
    .justify-md-content-center {
        justify-content: center;
    }
    .justify-md-content-start {
        justify-content: flex-start;
    }
    .justify-md-content-end {
        justify-content: flex-end;
    }
    .justify-md-content-betweem {
        justify-content: space-between;
    }
    .justify-md-content-around {
        justify-content: space-around;
    }
    .align-md-items-center {
        align-items: center !important;
    }
    .align-md-items-start {
        align-items: flex-start;
    }
    .align-md-items-end {
        align-items: flex-end;
    }
    .text-md-center {
        text-align: center;
    }
    .text-md-right {
        text-align: right;
    }
    .text-md-left {
        text-align: left;
    }
    .mb-md-3{
        margin-bottom: 3px !important;
    }
    .mt-md-3{
        margin-top: 3px !important;
    }
    .mr-md-3{
        margin-right: 3px !important;
    }
}
@media (max-width: 767px){
    .flex-ph-column {
        flex-direction: column;
    }
    .flex-ph-column-reverse {
        flex-direction: column-reverse;
    }
    .flex-ph-row {
        flex-direction: row;
    }
    .flex-ph-row-reverse {
        flex-direction: row-reverse;
    }
    .justify-ph-content-center {
        justify-content: center;
    }
    .justify-ph-content-start {
        justify-content: flex-start;
    }
    .justify-ph-content-end {
        justify-content: flex-end;
    }
    .justify-ph-content-betweem {
        justify-content: space-between;
    }
    .justify-ph-content-around {
        justify-content: space-around;
    }
    .align-ph-items-center {
        align-items: center;
    }
    .align-ph-items-start {
        align-items: flex-start;
    }
    .align-ph-items-end {
        align-items: flex-end;
    }
    .text-ph-center {
        text-align: center;
    }
    .text-ph-right {
        text-align: right;
    }
    .text-ph-left {
        text-align: left;
    }
    .mb-ph-2{
        margin-bottom: 2px !important;
    }
    .mt-ph-2{
        margin-top: 2px !important;
    }
    .mr-ph-2{
        margin-right: 2px !important;
    }
}
.mb-8{
    margin-bottom: 8px;
}
.mt-8{
    margin-top: 8px;
}
.mr-8{
    margin-right: 8px;
}
.mb-20{
    margin-bottom: 20px;
}
